// posicionamiento de imagenes con position absolut y asignando valores

.image1 { 
position: absolute;
left: 100px; }
.image2 {
    position: absolute;
left: 370px;
}
.image3 {
    position: absolute;
left: 700px;
}
.image4 {
    position: absolute;
left: 1000px;
}




