//medidas de bg 

.main {
    background-color:$green;
    padding: 50px;
    width: 800px;
    height: 200px;

    }
// posicion de parrafo y tamaño max parrafo
    p {
        position: absolute;
        width: 800px;
      
    }

    .main__paragraph {
    left: 40px;
    position: relative;
    top: 90px;
    
    }